.mainBody {
    .mainBody {
        width: 90%;
        height: 800px;
        border-radius: 20px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        background: #000;
        margin-top: 20px;
        color: white;
        padding-top: 50px;
    }
}